<ng-container *ngIf="showChannelInfo">
  <div class="channel-info">
    <h3>{{ channelNumber }}</h3>
    <!-- <small>{{ channelDescription }}</small> Removed -->
  </div>
</ng-container>
<div class="slider-wrapper">
  <input
    type="range"
    min="0"
  max="100"
  [(ngModel)]="value"
  (ngModelChange)="onSliderValueChange()"
  [style.height]="sliderHeight">
  <div class="tick-marks-container tick-marks-left" [style.height]="sliderHeight">
    <div *ngFor="let physicalTickPosition of [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
         class="tick-mark"
         [class.tick-mark-start]="isEffectiveStartPoint(physicalTickPosition)"
         [class.tick-mark-mid]="isEffectiveMidPoint(physicalTickPosition)"
         [class.tick-mark-end]="isEffectiveEndPoint(physicalTickPosition)"
         [style.width.px]="getEffectiveTickWidth(physicalTickPosition)">
    </div>
  </div>
  <div class="tick-marks-container tick-marks-right" [style.height]="sliderHeight">
    <div *ngFor="let physicalTickPosition of [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
         class="tick-mark"
         [class.tick-mark-start]="isEffectiveStartPoint(physicalTickPosition)"
         [class.tick-mark-mid]="isEffectiveMidPoint(physicalTickPosition)"
         [class.tick-mark-end]="isEffectiveEndPoint(physicalTickPosition)"
         [style.width.px]="getEffectiveTickWidth(physicalTickPosition)">
    </div>
  </div>
</div>
<ng-container *ngIf="showValueDisplay">
  <div class="value-display-container">
    <span *ngIf="!isEditing" (click)="startEditing()" class="value-text">{{ value }}</span>
    <input #valueInput type="number" class="value-edit-input" *ngIf="isEditing" [(ngModel)]="editValue" (blur)="stopEditing()" (keyup.enter)="stopEditing()">
  </div>
</ng-container>
<ng-container *ngIf="showColorInput">
  <div class="color-display-area">
    <input type="color" class="color-input-native" [value]="color" (input)="onColorInputChange($event)" [title]="'Color: ' + color.toUpperCase()">
  </div>
</ng-container>
