<ng-container *ngIf="showChannelInfo">
  <div class="channel-info">
    <h3>{{ channelNumber }}</h3>
    <small>{{ channelDescription }}</small>
  </div>
</ng-container>
<input
  type="range"
  orient="vertical"
  min="0"
  max="100"
  [(ngModel)]="value"
  (ngModelChange)="onSliderValueChange()"
  [style.height]="sliderHeight">
<div class="value-display-container">
  <span *ngIf="!isEditing" (click)="startEditing()" class="value-text">{{ value }}</span>
  <input #valueInput type="number" class="value-edit-input" *ngIf="isEditing" [(ngModel)]="editValue" (blur)="stopEditing()" (keyup.enter)="stopEditing()">
</div>
<div class="color-display-area">
  <input type="color" class="color-input-native" [value]="color" (input)="onColorInputChange($event)" title="Select Channel Color">
</div>
